{% extends "base.html" %}

{% block body %}
<div id="index-twitter">
<section id="index">
<h2><a href="/{{ params('lang') }}">http://jubeat.3rddev.org</a></h2>
<!-- <p style="color:red">이어뮤즈 사용계정 만료로 업데이트를 일시 중지합니다. 가까운운 시일 내에 복구할 수 있도록 하겠습니다. 혹시 임시로 결제 중인 계정을 지원해 주실 수 있는 분은 사이트 아래의 주소로 메일 주세요.</p> -->
{{ msg('notice-ie6') }}
<h3>Ripples:</h3>
<ul>
	<li><del>{{ msg('ripples-app-desc') }}: <a href="http://jubeat.3rddev.org/ripples/xml-14400025851317">http://jubeat.3rddev.org/ripples/xml-@YOURFRIENDID@</a></del></li>
</ul>
<h3>Knit:</h3>
<ul>
	<li>{{ msg('knit-massda-desc') }}</li>
	<li>{{ msg('knit-humanreadable-desc') }}</li>
	<li>{{ msg('knit-statistics-desc') }}</li>
	<li>{{ msg('knit-iphoneapp-desc') }} <a href="http://itunes.apple.com/us/app/jubeatinfo/id363449676?mt=8">Download from Appstore <img src="http://3rdpub.com/static/appstore.gif" /></a></li> 
</ul>
<p>{{ msg('knit-service-beta-desc') }}</p>
<ul>
	<li>{{ msg('knit-statistics-adv-desc') }}</li>
</ul>
<p>{{ msg('knit-service-developing-desc') }}</p>
<ul>
	<li>{{ msg('knit-mobileweb-desc') }}</li>
</ul>
<h3>{{ msg('policy') }}</h3>
<ul>
	<li>{{ msg('policy-update') }}</li>
	<li>{{ msg('policy-unstable') }}</li>
	<li>{{ msg('policy-deny') }}</li>
</ul>
<h3>{{ msg('FAQ') }}</h3>
<ul>
	<dt>{{ msg('faq-user-from-japan-question') }}</dt>
		<dd>{{ msg('faq-user-from-japan-answer') }}</dd>
		<dd>(日本の居住者は、e-AMUSEMENT PASSとJubegraphのご利用をお願い致します。)</dd>
	<dt>{{ msg('faq-more-information-question') }}</dt>
		<dd>{{ msg('faq-more-information-answer') }}</dd>
	<!--<li><?='faq-'|msg?></li>-->
</ul>
</section>
{% for IS_BASED in [True] %}
	{% include "twitter.html" %}
{% endfor %}
</div>
<div class=\"strut\"></div>
{% endblock %}
